@media (max-width: 767px) {
    section {
        height: 1320px;
    }

    #map {
        top: 95%;
        width: 75vw;
        height: 35vh;
        right: 107%;
    }

    .list-gites {
        margin-left: 2.5rem;
    }

    footer {
        margin-top: 400px;
    }
}

@media (min-width: 767px) {
    #map {
        width: 30vw;
        height: 70vh;
    }

    .list-gites {
        margin-left: 0;
    }

    footer {
        margin-top: 0;
    }

}

section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 1rem;
}

#map {
    margin-top: 3rem;
    margin-left: 5rem;
}

img {
    float: left;
    margin-right: 2rem;
}