h3 {
    padding: 0;
    text-align: center;
    backdrop-filter: brightness(0.5);
    color: white;
}

select {
    padding: 5%;
    width: 100%;
    border-radius: 5%;
    border: none;
}

#connect {
    background-image: url(views/img/sunny-day-field.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:767px) {
    #connexion {
        display: grid;
        grid-template-columns: 15vw 15vw;
        gap: 45%;
        padding-left: 15%;
        background-size: 100vw;
        background-image: url(views/img/sunny-day-field.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width:767px) {
    #connexion {
        display: grid;
        grid-template-columns: 33vw 33vw;
        gap: 20%;
        padding: 10%;
        background-size: 100vw 110vh;
        background-image: url(views/img/sunny-day-field.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
}