/* Page accueil */
@media screen {

  body {
    width: 100%;
  }

  main {
    width: 100vw;
  }
}

/*MOBILE*/
@media (max-width:767px) {
  .line {
    margin: 0%;
  }

  .follow {
    padding: 0%;
    margin: 0%;
  }

  .cards {
    padding: 0%;
  }

  .card {
    width: 80vw;
  }


}

/*DESKTOP*/
@media screen and (min-width:767px) {

  .cards-blog {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .card-blog {
    width: 30%;
  }

  #icons {
    cursor: pointer;
    display: none;
  }
}



.logo-titre {
  padding: 0%;
}

.logo {
  width: 200px;
}

.welcome {
  padding: 0%;
  margin-left: 1rem;
  margin-right: auto;
  margin-top: 4rem;
}

h1 {
  color: #0b5909;
}

.logo-titre {
  display: flex;
}

img {
  width: 20%;
}

.menu {
  padding-top: 1rem;
  padding-right: 0%;
}

main {
  background-color: #FCF6EE;
}

.sous-nav {
  list-style: none;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  width: max-content;
}

.search {
  background-image: url(img/fond-nature.png);
  background-size: 100vw;
}

.box1 {
  background-color: #fff;
}

input[type="submit"] {
  background-color: #45a049;
}

h2 {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

.box1 img {
  width: 30px;
  height: 30px;

}

.vente input {
  margin: 1%;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

.item {
  margin: auto;
}

.box1 {
  padding: 20px;
  width: auto;
}

#place {
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

#products {
  width: 250px;
  height: 26px;
  margin-top: 10px;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.slide1 img {
  width: 100%;
}

.portrait {
  margin-left: 25%;
}

.filter {
  margin: 0%;
}

#input_q {
  width: 100%;
}

#idea {
  border: none;
  background: none;
}

.cards-blog {
  padding-top: 2rem;
}

.card-blog {
  margin-bottom: 2rem;
}

.btn-warning {
  background-color: #E08F3E;
  border: none
}

.btn-success {
  background-color: #45a049;
  border: none;
}

/* Page contact */

label,
input,
textarea {
  display: block;
  width: auto;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #fff;
}

input[type="submit"] {
  width: auto;
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#contact {
  background-image: url(img/sunny-day-field.jpg);
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
}

footer {
  width: 100vw;
}

.bi {
  padding-left: 1rem;
}

/* Fin de la Page contact */


#region {
  width: 20rem;
}