/* Page accueil */
@media screen {

  body {
    width: 100%;
  }

  main {
    width: 100vw;
  }
}

/*MOBILE*/
@media (max-width:767px) {
  .logo {
    width: 25vw;
  }

  .top {
    height: 35vh;
    background-position: center;
  }

  .texte-couv {
    letter-spacing: 2px;
    font-size: xx-large;
  }

  .line {
    margin: 0%;
  }

  .follow {
    padding: 0%;
    margin: 0%;
  }

  .cards {
    padding: 0%;
  }

  .card {
    width: 80vw;
  }

  .map {
    width: 100vw;
  }

  .map path:hover {
    fill: #E08F3E;
  }

}

/*DESKTOP*/
@media screen and (min-width:767px) {
  .logo {
    width: 10vw;
  }

  .top {
    height: 50vh;
    background-position: center 30%;
  }

  .texte-couv {
    letter-spacing: 30px;
    font-size: xxx-large;
  }

  .cards-blog {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-auto-rows: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 2.8rem 0;
  }

  .card-blog {
    position: relative;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #fff;
    width: 60%;
  }

  #icons {
    cursor: pointer;
    display: none;
  }

  .regions {
    display: flex;
    justify-content: center;
  }

  .map {
    width: 25%;
    height: 60%;
  }

  .map path:hover {
    fill: #E08F3E;
  }
}



.logo-titre {
  padding: 0%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  padding: 0%;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
}



h1 {
  color: #0b5909;
}

img {
  width: 20%;
}

.menu {
  padding-top: 1rem;
  padding-right: 0%;
}

main {
  background-color: #FCF6EE;
}

.sous-nav {
  list-style: none;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  width: max-content;
}

.top {
  background-image: url(img/couv_gl.png);
  background-size: cover;
}

.texte-couv {
  font-family: 'Playfair Display', serif;
  margin-top: 2rem;
}

.search {
  background-image: url(img/fond-nature.png);
  background-size: 100vw;
}

.place-products {
  align-items: center;
}

.search-container {
  height: fit-content;
}

.box1 {
  background-color: #fff;
}

h2 {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

.box1 img {
  width: 30px;
  height: 30px;

}

.vente input {
  margin: 1%;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

.item {
  margin: auto;
}

.box1 {
  padding: 20px;
  width: auto;
}

#place {
  height: 30px;
  margin-top: 10px;
}

#products {
  width: 250px;
  height: 26px;
  margin-top: 10px;
}

.card {
  margin-left: 15vw;
  margin-right: auto;
}

.slide1 img {
  width: 100%;
}

.couv {
  display: flex;
  justify-content: center;
}

.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

.portrait {
  margin-left: 40%;
}

.filter {
  margin: 0%;
  background-color: #E08F3E;
}

#input_q {
  width: 100%;
}

#idea {
  border: none;
  background: none;
}

.cards-blog {
  padding-top: 2rem;
}

.card-blog {
  margin-bottom: 2rem;
}

.btn-warning {
  background-color: #E08F3E;
  border: none
}

.btn-success {
  background-color: #45a049;
  border: none;
}

.list-gites {
  padding-bottom: 3rem;
}

.sign {
  border: solid;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  color: #0b5909;
  border-color: black;
  float: right;
}

#connexion {
  background-image: url(img/sunny-day-field.jpg);
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
}

.connect {
  margin-top: 6rem;
}

.nav2 {
  background-color: darkgray;
}

.description {
  background-color: #45a049;
}

.texte-description {
  padding: 1rem;
}

.chambres-gites {
  background-color: #884809;
}

.coordonnees {
  background-color: darkgrey;
}

/* Page contact */

label,
input,
textarea {
  display: block;
  width: auto;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #fff;
}

input[type="submit"] {
  width: auto;
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}



#contact {
  background-image: url(img/sunny-day-field.jpg);
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
}

footer {
  width: 100vw;
}

.bi {
  padding-left: 1rem;
}

/* Fin de la Page contact */


#region {
  width: 20rem;
}

/* Ajoutez du style pour l'animation de survol dans votre fichier CSS */
.hover-card {
  transition: transform 0.3s ease-in-out;
}

.hover-card:hover {
  background-color: #4CAF50;
  /* Modifiez la valeur selon vos préférences */
}

#gite_card {
  background-color: #198754;
}

#idea {
  margin: 0%;
}



.map path {
  fill: #198754;
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.3s;
  margin-right: 20px;
}



.map_regions {
  width: 50%;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 5%;
}

.book {
  border: solid;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  color: #0b5909;
  border-color: black;
}

.sign:hover,
.book:hover {
  background-color: #E08F3E;
}

.map path:active {
  background-color: #E08F3E;
}

.description {
  display: grid;
  grid-template-columns: 50% 25%;
  gap: 15%;
}

.produits-locaux {
  background-color: #e8c49f;
}

.produits-locaux-content {
  display: grid;
  grid-template-columns: 1% 30% 50%;
  column-gap: 5%;
}

#gitesList {
  display: grid;
}

#gitesCard {
  margin-left: 0;
}

#filterInput {
  width: 30vw;
  margin-left: 9%;
}

.card.hidden {
  visibility: hidden;
  order: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#buttonContact {
  height: fit-content;
  width: 100%;
}

.head-modal {
  height: 10%;
  background-color: #4CAF50;
}

.civilite,
.lastname,
.firstname,
.mail,
.tel,
.message {
  display: flex;
  gap: 2rem;
}

.civilite label,
.lastname label,
.firstname label,
.mail label,
.tel label,
.message label {
  width: 11%;
}

.rating label {
  width: 14%;
}

.lastname input,
.firstname input,
.mail input,
.tel input,
.message textarea {
  width: 50%;
}

.avis {
  background-color: #aaa;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.rating label {
  margin: 0;
}

.stars {
  font-size: 24px;
}

.stars:hover .fa-star {
  color: #ffdc0f;
}

.stars .fa-star:hover~.fa-star {
  color: gray;
}