/* Page accueil */

.container {
  border: solid black 1px;
}

.container-fluid {
  border: solid;
}

.logo {
  width: 200px;
}

h1{
  color: #0b5909;
}

.bg-success {
  background-color: #0b5909;
}
  
 
  img {
    width: 20%;
  }

  
.sous-nav {
  list-style: none;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  width: max-content;
}
  
input[type="submit"] {
    background-color: #45a049;
}

h2 {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

.box1 img {
  width: 30px;
  height: 30px;
  
}  

.vente input{
  margin: 1%;
}

h3{
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

.item {
  margin: auto;
}

.box1 {
  border: 1px solid;
  padding: 20px;
  width: auto;
}

#place {
  width: 250px;
  height: 20px;
  margin-top: 10px;
}

#products{
  width: 250px;
  height: 26px;
  margin-top: 10px;
}


.slide1 img {
  width: 100%;
}

/* Page contact */

label, input, textarea {
  display: block;
  width: auto;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: auto;
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}


/* Fin de la Page contact */